{# List of favourite cards template #}

{% extends 'core/core_base.html' %}
{% load static %}

{% block title %}
    Favourites
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/core/general/item-list-grid-line.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/core/general/paginator.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/card/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/favourite/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/general/sorting-dropdown.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/general/search-field.css' %}">
{% endblock %}

{% block content %}
    <section id="main">

        <div class="container">

            {% include 'core/_search_form.html' %}

            <div class="name margin-top-60 margin-bottom-30 text-center">
                <h1>Your favourites:</h1>
            </div>

            <div class="cards">
                {% if cards %}
                    {% include 'core/_sort_by_form.html' %}

                    <div class="item-list-line">
                        {% for card in cards %}
                            {% include 'core/_card.html' with typeOfActionDelete='del-only' %}
                        {% endfor %}
                    </div>

                    {% include 'core/_paginator.html' %}
                {% elif q %}
                    <!-- Unsuccessful search -->
                    <div class="error-empty-list">

                        {% include 'core/_error_empty_list.html' %}
                        <div class="links">
                            <a class="btn"
                               href="{% url 'core:favourite' %}">Back to favourites</a>
                            <a class="btn btn-search-global"
                               href="{% url 'core:search' %}?q={{ q }}">Global search</a>
                        </div>

                    </div>
                {% else %}
                    <!-- No favourite cards -->
                    <div class="error-empty-list">

                        <div class="data">
                            <img src="{% static 'images/core/general/empty.svg' %}"
                                 alt="Empty image">
                            <h2>Where are your favourite cards?)</h2>
                        </div>

                    </div>
                {% endif %}
            </div>

        </div>

    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/core/card/card-handler.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //Handling removing of favourite cards
            c = new CardClickHandler({
                element: $("#main .item-list-line"),
                image_add: "{% static 'images/core/card/plus.svg' %}",
                image_del: "{% static 'images/core/card/remove.svg' %}",
                image_star: "{% static 'images/core/card/star.svg' %}",
                callBack: callBackEvent
            });

            //After each removing of favourite card handle callback
            function callBackEvent(event) {
                switch (event) {
                    case 'del-only':
                    case 'del':
                        //If there is no favourite cards, then reload the page

                        let list_elements = $("#main .item-list-line .item");
                        if (list_elements.length === 0) {
                            window.location.reload();
                        }

                        break;
                }
            }
        });
    </script>
{% endblock %}
