{# Confirmation of resetting password template #}

{% extends 'base.html' %}
{% load static %}

{% block title %}
    Confirm reset password
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/login/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/login/main.css' %}">
{% endblock %}

{% block content %}
    <div class="limiter">

        <div class="container-login100">
            <div class="wrap-login100">

                <form class="login100-form validate-form" method="POST" action="#">
                    {% csrf_token %}

                    <a href="{% url 'core:main' %}">
                        <span class="login100-form-logo">
						    <img src="{% static 'images/core/general/logo.svg' %}" alt="Logo InnoRussian">
					    </span>
                    </a>

                    <span class="login100-form-title p-b-34 p-t-27">
						Reset password
					</span>

                    {% for field in form %}
                        <div class="wrap-input100 validate-input" data-validate="{{ field.help_text }}">
                            {%  for error in field.errors %}
                                <p class="alert-danger additional-padding">{{ error }}</p>
                            {% endfor %}

                            {{ field }}

                            <div class="login100-form-additional-text">
                                {% if field.help_text %}
                                    <p class="text-white m-t-4 rounded">*{{ field.help_text }}</p>
                                {% endif %}

                                {% include 'users/_show_password_checkbox.html' %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Reset password
                        </button>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <div id="dropDownSelect1"></div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/showpass.js' %}"></script>
{% endblock %}