{# Reset password template #}

{% extends 'base.html' %}
{% load static %}

{% block title %}
    Reset password
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/login/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/login/main.css' %}">
{% endblock %}

{% block content %}
    <div class="limiter">

        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="POST" action="#">
                    {% csrf_token %}

                    <a href="{% url 'core:main' %}">
                        <span class="login100-form-logo">
						    <img src="{% static 'images/core/general/logo.svg' %}" alt="Logo InnoRussian">
					    </span>
                    </a>

                    <span class="login100-form-title p-b-34 p-t-27">
						Reset password
					</span>

                    {% for field in form %}
                        <div class="wrap-input100 validate-input" data-validate="{{ field.help_text }}">
                            {%  for error in field.errors %}
                                <p class="alert-danger additional-padding">{{ error }}</p>
                            {% endfor %}

                            {{ field }}
                        </div>
                    {% endfor %}

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Reset password
                        </button>
                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt1" href="{% url 'users:sign-in' %}">
                            Already have account?
                        </a>
                        <br>
                        <a class="txt1" href="{% url 'users:sign-up' %}">
                            Don't have account?
                        </a>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div id="dropDownSelect1"></div>
{% endblock %}